<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{% block content %}
    <table class="table is-fullwidth is-hoverable" style="border: 1px solid black;">
        <thead>
          <tr>
            <th>Email</th>
            <th>User</th>
          </tr>
        </thead>
        <tbody>
          {% for user in user_list %}
            <tr>
              <td>{{user.email}}</td>
              <td>{{user.username}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>

{% endblock content %}

</body>
</html>